# =========================================================
# ENTORNOS VIRTUALES
# =========================================================

venv/
env/
.venv/


# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.py[cod]
*$py.class
*.pyo


# =========================================================
# DJANGO
# =========================================================

*.log

# Bases de datos SQLite locales
db.sqlite3
db.sqlite3-journal
*.sql
*.sql.gz


# =========================================================
# VARIABLES DE ENTORNO
# =========================================================

.env
.env.local
.env.*.local


# =========================================================
# ARCHIVOS ESTÁTICOS GENERADOS
# =========================================================

staticfiles/


# =========================================================
# ARCHIVOS SUBIDOS POR USUARIOS
# =========================================================

media/


# =========================================================
# BACKUPS DE BASE DE DATOS
# =========================================================

*.sql
*.sql.gz


# =========================================================
# ARCHIVOS TEMPORALES
# =========================================================

*.tmp
*.temp


# =========================================================
# VISUAL STUDIO CODE
# =========================================================

.vscode/


# =========================================================
# PYCHARM
# =========================================================

.idea/


# =========================================================
# SISTEMA OPERATIVO
# =========================================================

.DS_Store
Thumbs.db